body {
    margin: 0px;
    background-color: #FAEFE0;
    font-family: 'Mulish', sans-serif;
  }
  .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
  
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    top: 0px;
  }
  
  .header__img {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    overflow: hidden;
    object-fit: cover;
    width: 100px;
          height: 100px;
          border-radius: 20px;
          overflow: hidden;
          margin-right: 10px;
          display: inline-block;
          transform-origin: center left;
  }
  .header_titulo {
     display: flex;
     justify-content: flex-start;
  }
  
  .login {
    background: -webkit-gradient(linear, left top, left bottom, from(#FAEFE0), to(#E0FAE0));
    background: linear-gradient(#FAEFE0, #E0FAE0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
  }

  .quees {
    margin-left: 10px;
  }

  .queEsTxt {
    margin-left: 10px;
  }

  .objetivos {
    margin-left: 10px;
  }

  .objetivosTxt {
    margin-left: 10px;
  }
  
  .caracteristicas {
    margin-left: 10px;
  }

  .caracteristicasTxt {
    margin-left: 10px;
  }
  
  .footer {
    background-color: #E0FAE0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    width: 100%;
  }
  
  .footer a {
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
  }
  .imgIG {
    margin-left: 05px;
    width: 1vw;
    height: 1vw;
  }
  .imgTeam {
    width: 600px;
    height: 100px;
    margin-left: 10px;
    
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 600px) {
    .login__container {
      background-color: transparent;
      border: none;
      padding: 0px;
      width: 100%;
    }
    .footer {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  /*# sourceMappingURL=styles.css.map */